/* App-wide styling */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
}

/* Navbar */
#navbar {
    height: 1.5em;
    display: flex;
    flex-direction: row;
}

#navbar a {
    color: black;
    margin-right: 20px;
    text-decoration: none;
    transition: color 0.2s ease;
}

#navbar a:hover {
    cursor: pointer;
    color: #91a4d2;
}

.main {
    width: calc(100vw - 2px);
    height: calc(100vh - 1.5em - 2px);
    border: 1px solid silver;
}
